<!DOCTYPE html>
<html>
<head>
	<link id="versionLink" href="/" rel="version">
	<meta charset="utf-8">
	<title>太鼓ウェブ - Taiko Web</title>
	<link rel="icon" href="./assets/img/favicon.png" type="image/png">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="description" content="パソコンとスマホのブラウザ向けの太鼓の達人シミュレータ 🥁 Taiko no Tatsujin rhythm game simulator for desktop and mobile browsers">
	<meta name="keywords" content="taiko no tatsujin, taiko, don chan, online, rhythm, browser, html5, game, for browsers, pc, arcade, emulator, free, download, website, 太鼓の達人, 太鼓ウェブ, 太鼓之達人, 太鼓達人, 太鼓网页, 网页版, 太鼓網頁, 網頁版, 태고의 달인, 태고 웹">
	<meta name="robots" content="notranslate">
	<meta name="robots" content="noimageindex">
	<meta name="color-scheme" content="only light">

	<link rel="stylesheet" href="/src/css/loader.css?f7617c1">

	<script src="/src/js/assets.js?f7617c1"></script>
	<script src="/src/js/strings.js?f7617c1"></script>
	<script src="/src/js/pageevents.js?f7617c1"></script>
	<script src="/src/js/loader.js?f7617c1"></script>
</head>
<body>
	<div id="assets"></div>
	<div id="screen" class="pattern-bg"></div>

	<div id="version"
  data-commit="f7617c1b7492e30011a1f08e8f3a023839aa41bd"
  data-commit-short="mikan!">
  <a href="https://github.com/enswapwar/taikoweeeb" target="_blank" rel="noopener" id="version-link">
    taiko-web ver.1.0.0 (mikan!)
  </a>
</div>



	<noscript>
		<div data-nosnippet id="unsupportedBrowser">
			<div id="unsupportedWarn">!</div>
			<span>太鼓ウェブはJavaScriptを有効にする必要があります。<br>Taiko Web requires JavaScript to be enabled in the browser.</span>
		</div>
	</noscript>

	<script src="/src/js/browsersupport.js?f7617c1"></script>
	<script src="/src/js/main.js?f7617c1"></script>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			if (typeof initMain === "function") initMain();
		});
	</script>
</body>
</html>
